.avatar {
    user-select: none;
    width: var(--spacer-xxlarge);
    height: var(--spacer-xxlarge);
    border-radius: var(--spacer-small);
    border: 2px solid var(--primary-300);
    background-color: var(--background-900);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .avatarImage {
    max-width: 40px;
  }